body {
  margin: 0;
  background: rgb(0,255,209);
  background: linear-gradient(45deg, rgba(0,255,209,1) 0%, rgba(173,36,207,0.8) 49%, rgba(54,204,235,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  border-radius: 15px;
  width: 400px;
  height: 250px;
}

table {
  position: relative;
  left: 100px;
}
